<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark text-white bg-dark">
    <div class="container-fluid" id="topNavbar">
        <div id="topNavbarUserInfo"></div>
        <a class="nav-link ml-auto navbar-text" href="/logout">Logout</a>
    </div>
</nav>
<div class="container-fluid" style="margin-top:10px">
    <div class="row">
        <!--
                    Left nav panel
        -->
        <div class="col-2 bg-white">
            <ul class="nav nav-pills flex-column" id="roles-tab" role="tablist" aria-orientation="vertical">
                <li class="nav-item">
                    <a class="nav-link active" id="user-information-tab" data-toggle="pill" href="#user-information" role="tab" aria-controls="user-information" aria-selected="false">User</a>
                </li>
            </ul>
        </div>
<!--
        Left nav panel content
-->
        <div class="col-10">
            <div class="tab-content" id="roles-tabContent">
<!--
                Logged in user info
-->
                <div class="tab-pane container-fluid active" id="user-information" role="tabpanel" aria-labelledby="user-information-tab">
                    <h2 class="m-3">User information page</h2>
                    <div class="container-fluid border m-3">
                        <div class="row" style="background-color:WhiteSmoke;">
                            <h5 class="m-3">About user</h5>
                        </div>
                        <div class="row">
                            <div class="container-fluid bg-white align-items: center p-3">
                                <table class="table table-striped w-100 m-2" id="currentUserTable">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let currentUser

    $(document).ready(function () {

        loadCurrentUser()

        fillCurrentUserInfo()
    });
    async function loadCurrentUser() {

        const response = await fetch("http://localhost:8080/user/current")

        if (response.status === 200) {
            currentUser = await response.json()
            fillCurrentUserInfo()
        } else {
            console.log(response.statusText)
        }
    }
    async function fillCurrentUserInfo() {

        (function fillCurrentUserTable(){

            let temp = '';
            temp += '<tr>';
            temp += '<td>' + currentUser.id + '</td>';
            temp += '<td>' + currentUser.firstname + '</td>';
            temp += '<td>' + currentUser.lastname + '</td>';
            temp += '<td>' + currentUser.age + '</td>';
            temp += '<td>' + currentUser.email + '</td>';
            temp += '<td>';
            for (let role of currentUser.roles) {
                temp += role.name.substring(5) + ' '
            }
            temp += '</tr>'

            document.getElementById('currentUserTable').tBodies[0].innerHTML = temp}());

        (function fillTopNavbar(){
            let temp =""
            temp += '<span> '
            temp += currentUser.email + ' with roles: '
            for (let role of currentUser.roles) {
                temp += role.name.substring(5) + ', '
            }
            temp = temp.slice(0, -2) + '</span>'

            $('#topNavbarUserInfo').empty().append(temp)
        }());
    }

</script>
</body>
</html>